[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
flask = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"

[requires]
python_version = "3.7"
