{% extends "base.html" %}
{% block title %}首頁{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .row {
        margin: 24px;
    }

    .search-input {
        width: 520px;
    }
</style>
{% endblock %}
{% block content %}
<div class="row align-items-center" style="height: 100vh">
    <div class="col">
        <form action="/591" method="POST" autocomplete="off">
            <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                    <input type="text" name="url" autofocus placeholder="591網址" class="form-control search-input">
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">爬爬爬...</button>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}